
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<div class="jumbotron">
    <h3>Employee List</h3>
    @{
        if (TempData["data"] != null)
        {

            var item = TempData["data"] as MVC_Tutorial_Complete.Models.EmployeeViewModel;
            <ul class="list-group">
                <li class="list-group-item">
                    @item.EmployeeId
                </li>
                <li class="list-group-item">@item.EmpName</li>
                <li class="list-group-item">@item.DepartName</li>

                <li class="list-group-item float-right"><button id="showalert" class="btn btn-warning">Back To List</button></li>


            </ul>
        }
        else
        {
            <h4>Sorry! No data found</h4>
        }
    }

</div>
<script>
    $("#showalert").click(function () {
        window.location.href = "/Database/DeleteData";
    })
</script>